@charset "utf-8";
.wppm_clear{clear:both;}
#wppm_container{width:98%; height:auto;}
#wppm_body{width:68%; height:auto; float:left;}
#wppm_body .postBlick{margin-top:25px; border:1px solid #ddd; border-radius:3px; padding:15px; background:#fbfbfb;}
#wppm_body .postBlick input[type=text]{width:78%; height:26px; margin-bottom:10px; font-size:16px;}
#wppm_body .wppm_cat{float:right; width:20%; height:26px; line-height:26px;}
#wppm_body input[type=submit]{float:right; margin-top:20px; font-size:16px; font-weight:bold; width:140px; line-height:30px;}
#wppm_body .btnZR{float:left; margin-top:20px; font-size:16px; font-weight:bold; width:200px; line-height:30px;}
#wppm_sidebar{width:30%; height:auto; float:right; margin-top:20px;}
#wppm_sidebar .advert{margin-bottom:20px; float:left !important; width:100% !important;}
#wppm_sidebar .advert .hndle{cursor:default !important; padding:10px;}
#wppm_sidebar .advert .inside{background: none;}
.tablenav{float:left;}
.widefat .check-column{padding:7px !important;}
	
@media(max-width:980px)
{
	#wppm_body{width:98% !important;}
	#wppm_sidebar{float:left !important;}
}
